*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
}
.big-container{
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-desktop.svg");
    height: 70vh;
    width: 70vw;
    margin: 10vh auto;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.main-container{
    grid-row: 2/4;
    grid-column: 2/3;
    margin-left: 5%;
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}
.logo{
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;
}
.illustration-svg{
    grid-column: 1/2;
    grid-row: 2/5;
    width: 85%;
    height: 77%;
    margin-left: 10%;
}
.big-header{
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 1rem 0;
}
.description{
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin: 0.5rem 0 1rem 0;
}
.register-button{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: hsl(257, 40%, 49%);
    padding: 0.7rem 3.5rem;
    margin: 0.5rem 0;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.register-button:hover{
    color: white;
    background: hsl(300, 69%, 71%);
}
.social{
    padding: 10%;
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 2/3;
    grid-row: 4/5;
}
.social-button{
    height: 36px;
    width: 36px;
    margin: 0.6rem;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid white;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-button:hover{
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}